{% extends "admin/core/base.html" %}
{% load foundation %}

{% block page_title %}Datacite Plugin Article List{% endblock %}
{% block title %}Datacite Plugin Article List{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "datacite/breadcrumb.html" %}
    <li>Settings</li>
{% endblock %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>Article List</h2>
        <a href="{% url 'datacite_manager' %}" class="button">Manage Plugin</a>
    </div>
    <div class="content">
        <table class="table" id="datacite_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Stage</th>
                    <th>Correspondence Author</th>
                    <th>DOI</th>
                    <th>Data</th>
                    <th>Mint</th>
                    {% if redeposit_button %}<th>Re-deposit</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.pk }}</td>
                        <td>{{ article.title|safe }}</td>
                        <td>{{ article.stage }}</td>
                        <td>{{ article.correspondence_author.full_name }}</td>
                        <td>{{ article.datacite_doi }}</td>
                        <td><a href="{% url 'datacite_article_export' article.pk %}" target="_blank" class="small button">View Data</a></td>
                        <td>{% if not article.datacite_doi %}<a href="{% url 'datacite_add_doi' article.pk %}" class="small button">Add DOI</a>{% endif %}</td>
                        {% if redeposit_button %}<td>
                            {% if article.datacite_doi %}
                            <form method="POST">
                                {% csrf_token %}
                                <button class="small button" name="article_id" value="{{ article.pk }}">Re-deposit</button>
                            </form>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}

{% block js %}
    {% include "elements/datatables.html" with target="#datacite_table" order=2 %}
{% endblock %}